name: "On Push"
on:
    push:
        branches:
            - main
    workflow_dispatch:

jobs:
    DEPLOY_ON_WEBSERVER:
        name: "Deploy on Webserver"
        runs-on: ["self-hosted"]
        steps:
            - name: "Checkout Repository"
              uses: actions/checkout@v4
            - name: "Deploy via SSH"
              run: docker compose up -d